* {
    font-family: Inter, sans-serif;
    text-align: center
}
#banner {
    width: 100em;
    padding-left: 120px;
    padding-right: 120px;
}
body {
   background-color: #eeb45b;
}
h1 {
    height: 70px;
    vertical-align: bottom;
    font-size: 50px;
    color:aliceblue ;
    background-color: #cd5251;
    text-align: center
}
nav { 
    background-color: #419eaf;
    display: flex;
    justify-content: space-evenly;
    /* height: 75px; */
}
h2 {
    align-self: center;
    font-size: 22px;
    color:aliceblue ;
    margin-bottom: 2px;
    /*height: 150px;*/
    margin-bottom: 5%;

}
.imagenes {
    img: hover;
    margin: auto;
    justify-content: center;
    align-self: center;
}
ul {
    margin: auto;
    text-align: center;
    list-style-type: none;
    color:aliceblue ;

}
form {
    align-self: center;
    display: block;
}
footer {
    width: 580px;
    height: 70px;
    vertical-align: bottom;
    padding-right: 100%;
    scroll-padding-left: 100px;
    padding: 60px;
    float: left;
    background-color: #419eaf;
    display: flex; /* Make the footer container use flexbox */
    justify-content: space-between; /* Align items at opposite ends */
    align-items: center; /* Align items vertically in the flex container */
}
/*#icon {
    float: right;
    margin-bottom: 100px;
}*/
